BankingApplication/BankingApplication/ConsoleApp/Connected Services/BankingService/MKBank.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MKBank" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53617/MKBank.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53617/MKBank.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53617/MKBank.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMKBank_CreateNewAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewAccount" />
  </wsdl:message>
  <wsdl:message name="IMKBank_CreateNewAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IMKBank_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IMKBank_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IMKBank_RecordDeposit_InputMessage">
    <wsdl:part name="parameters" element="tns:RecordDeposit" />
  </wsdl:message>
  <wsdl:message name="IMKBank_RecordDeposit_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecordDepositResponse" />
  </wsdl:message>
  <wsdl:message name="IMKBank_RecordWithDrawl_InputMessage">
    <wsdl:part name="parameters" element="tns:RecordWithDrawl" />
  </wsdl:message>
  <wsdl:message name="IMKBank_RecordWithDrawl_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecordWithDrawlResponse" />
  </wsdl:message>
  <wsdl:message name="IMKBank_CheckBalance_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckBalance" />
  </wsdl:message>
  <wsdl:message name="IMKBank_CheckBalance_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="IMKBank_GetAccountNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountNumber" />
  </wsdl:message>
  <wsdl:message name="IMKBank_GetAccountNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IMKBank_GetUserDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDetails" />
  </wsdl:message>
  <wsdl:message name="IMKBank_GetUserDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IMKBank_TransactionHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:TransactionHistory" />
  </wsdl:message>
  <wsdl:message name="IMKBank_TransactionHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransactionHistoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IMKBank">
    <wsdl:operation name="CreateNewAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IMKBank/CreateNewAccount" message="tns:IMKBank_CreateNewAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMKBank/CreateNewAccountResponse" message="tns:IMKBank_CreateNewAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IMKBank/Login" message="tns:IMKBank_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMKBank/LoginResponse" message="tns:IMKBank_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecordDeposit">
      <wsdl:input wsaw:Action="http://tempuri.org/IMKBank/RecordDeposit" message="tns:IMKBank_RecordDeposit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMKBank/RecordDepositResponse" message="tns:IMKBank_RecordDeposit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecordWithDrawl">
      <wsdl:input wsaw:Action="http://tempuri.org/IMKBank/RecordWithDrawl" message="tns:IMKBank_RecordWithDrawl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMKBank/RecordWithDrawlResponse" message="tns:IMKBank_RecordWithDrawl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckBalance">
      <wsdl:input wsaw:Action="http://tempuri.org/IMKBank/CheckBalance" message="tns:IMKBank_CheckBalance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMKBank/CheckBalanceResponse" message="tns:IMKBank_CheckBalance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IMKBank/GetAccountNumber" message="tns:IMKBank_GetAccountNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMKBank/GetAccountNumberResponse" message="tns:IMKBank_GetAccountNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IMKBank/GetUserDetails" message="tns:IMKBank_GetUserDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMKBank/GetUserDetailsResponse" message="tns:IMKBank_GetUserDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TransactionHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IMKBank/TransactionHistory" message="tns:IMKBank_TransactionHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMKBank/TransactionHistoryResponse" message="tns:IMKBank_TransactionHistory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMKBank" type="tns:IMKBank">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateNewAccount">
      <soap:operation soapAction="http://tempuri.org/IMKBank/CreateNewAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IMKBank/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecordDeposit">
      <soap:operation soapAction="http://tempuri.org/IMKBank/RecordDeposit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecordWithDrawl">
      <soap:operation soapAction="http://tempuri.org/IMKBank/RecordWithDrawl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckBalance">
      <soap:operation soapAction="http://tempuri.org/IMKBank/CheckBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountNumber">
      <soap:operation soapAction="http://tempuri.org/IMKBank/GetAccountNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDetails">
      <soap:operation soapAction="http://tempuri.org/IMKBank/GetUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransactionHistory">
      <soap:operation soapAction="http://tempuri.org/IMKBank/TransactionHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MKBank">
    <wsdl:port name="BasicHttpBinding_IMKBank" binding="tns:BasicHttpBinding_IMKBank">
      <soap:address location="http://localhost:53617/MKBank.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>